html {
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
@font-face {
  font-family: Inter;
  src: url("../fonts/Inter-Bold.woff2");
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: Inter;
  src: url("../fonts/Inter-Regular.woff2");
  font-weight: 400;
  font-display: swap;
}
body {
  margin: 0;
  color: #151517;
  -webkit-font-smoothing: antialiased;
}

* {
  box-sizing: border-box;
}

p:last-child {
  margin-bottom: 0;
}

.logo {
  display: flex;
  align-items: flex-end;
  color: white;
}

.row {
  display: flex;
}

.row > div {
  margin: 1px;
  height: 8px;
  width: 8px;
  background: #ef891c;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
