html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
  color: #edebea;
  -webkit-font-smoothing: antialiased;
}

* {
  box-sizing: border-box;
}

p:last-child {
  margin-bottom: 0;
}

.logo {
  display: flex;
  align-items: flex-end;
}

.logo-text {
  font-size: 1.4rem;
}

.logo-icon {
  flex-direction: column;
  padding: 0 0 0 0.5rem;
}
.row {
  display: flex;
}

.row > div {
  margin: 1px;
  height: 8px;
  width: 8px;
  background: rgb(251, 127, 90);
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}